.book-card {
  position: relative;
  width: 200px;
  height: 300px;
  margin: 10px;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
  cursor: pointer;
}

.book-card:hover {
  transform: scale(1.05);
}

.book-image {
  position: relative;
  width: 100%;
  height: 100%;
}

.book-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.book-div {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 10px;
  text-transform: capitalize;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0));
}

.book-author {
  color: white;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
}

.home-count {
  position: absolute;
  top: 10px;
  right: 10px;
  color: white;
  
  font-weight: bold;
  background-color: #333;
  padding: 5px 10px;
  border-radius: 5px;
}

.home-count p{
  font-size: 0.8rem;
}

.inc-dec {
  position: absolute;
  bottom: 28px;
  right: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.inc-dec button {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: none;
  background-color: #333333;
  color: white;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  margin: 5px 0;
  opacity: 0.8;
}

.inc-dec button:hover {
  background-color: #555;
}

.inc-dec button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.dlt-btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #ff0000;
  color: white;
  font-size: 16px;
  font-weight: bold;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.dlt-btn:hover {
  background-color: #cc0000;
  
}